{% extends "moderation/base.html" %}


{% block content %}
    {% if list_request_for_moderation_moderator %}
        <table>
            <tr>
                <td>Short</td>
                <td>Date last moderation</td>
            </tr>
        {% for request_for_moderation in list_request_for_moderation_moderator %}
            <tr>
                <td>{{ request_for_moderation.content_object.short }}</td>
                <td>{{ request_for_moderation.date_of_last_moderation|date:"d M Y G:i:s" }}</td>
                <td>
                    <a href="{% url 'moderation:initiate_moderation' request_for_moderation.id %}">Moderation</a>
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>No request for moderation were created yet.</p>
    {% endif %}
{% endblock %}
